.screenshot {
  padding-top:30px;
  height: 200px;
  width: 300px;
}

.tile1 {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile2 {
	display: inline-block;
	width: 30%;
	margin-right: 3px;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile3 {
	display: inline-block;
	width: 30%;
	margin-right: 3px;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile img	{

	margin: 0 auto;
  padding-right: -9px;
}

@media screen and (max-width: 1000px){
.tile1,.tile2,.tile3 {

    border:none;
}

}

@media screen and (max-width: 800px){
  .tile {

}
