.screenshot {
  padding-top:30px;
  height: 200px;
  width: 300px;

}

.tile1 {
  display: inline-block;
  border: 2px solid #E13A63;
	box-sizing: border-box;
  text-align: center;
  min-width: 200px;
}

.tile2 {
  display: inline-block;
  border: 2px solid #E13A63;
	box-sizing: border-box;
  text-align: center;
  min-width: 200px;
}

.tile3 {
  display: inline-block;
  border: 2px solid #E13A63;
	box-sizing: border-box;
  text-align: center;
  min-width: 200px;
}

.tile img	{

	margin: 0 auto;
display: block;
}



@media screen and (max-width: 1070px){
.tile1,.tile2,.tile3 {


	border: 2px solid #E13A63;
	box-sizing: border-box;

}

}

@media screen and (max-width: 500px){
  .tile1{
border:none;

}
}
